@import './config.scss';
@import './color.scss';

.btn_wrapper {
    padding: 50px 30px 0px;

    .btn {
        background-color: $btn-color-theme !important;
        color: #fff !important;
        font-size: 20rpx !important;
        border-radius: 10rpx !important;
    }
}